# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/battery-estimating-tool/node_modules
/battery-estimating-tool/backend/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/battery-estimating-tool/backend/dist
/battery-estimating-tool/backend/logs
# venv
/battery-estimating-tool/backend/src/evaluator/SETool_Python/venv
/SETool_Python_OLD/venv

# misc
.DS_Store
*.pem
.claude

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# Model uploads
/battery-estimating-tool/backend/uploads/*

# Logs
/battery-estimating-tool/backend/logs/*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
node_modules

